.border-collie-wrapper {
  background: transparent;
  width: 200px;
  height: 200px;
  display: block;
  position: absolute;
  cursor: pointer;

  transition: all 1s ease-in-out;

  img {
    filter: drop-shadow(-11px 10px 7px rgba(0, 0, 0, 0.7));
    transition: transform 0.3s ease-in-out;
  }
}
